apiVersion: v1
kind: Service
metadata: 
  name: frontend
spec: 
  type: Loadbalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.backend.port }}
  selector: 
    app: backend