apiVersion: v1 
kind: Service
metadata: 
  name: frontend
spec: 
  type: Loadbalancer
  ports: 
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.frontend.port }}
  selector:
    app: frontend
